<div class="form-group">
    <label>
        <input type="checkbox" ng-model="vis.params.submit_right" class="ng-pristine ng-valid ng-touched">
        Move 'Go' Button
    </label>
</div>
<div class="form-group">
    <label>
        <input type="checkbox" ng-model="vis.params.hide_input" class="ng-pristine ng-valid ng-touched" ng-disabled="vis.params.hide_calendar">
        Hide Input
    </label>
</div>
<div class="form-group">
    <label>
        <input type="checkbox" ng-model="vis.params.hide_calendar" class="ng-pristine ng-valid ng-touched" ng-disabled="vis.params.hide_input">
        Hide Calendar
    </label>
</div>
<div class="form-group">
    <label>
        Displayed Language <br>
        <span class="kbn-datepicker-warning">
            Warning: This option changes angular locale,<br>
            interfering with components outside this plugin!
        </span>
    </label>
    <select ng-model="vis.params.language" class="form-control ng-pristine ng-valid ng-touched">
        <option value="en">English</option>
        <option value="pt-br">Português (Brasil)</option>
    </select>
</div>
